:host {
  width: 100%;
  display: block;
  box-shadow: var(--shadow-light);
  position: fixed;
  z-index: 1;
  top: 0;
  background: white;
  border-bottom: 1px solid rebeccapurple;
  opacity: .9;
  background: linear-gradient(160deg, wheat 0, black 200%);;
  .container {
    &__form {
      display: flex;
      align-items: center;
      &__col {
        margin-right: 30px;
      }
      .search-btn {
        height: 34px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    justify-content: center;
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    &__form {
      width: 100%;
      flex-direction: column;
      align-items: flex-end !important;
      &__col {
        margin: 0 !important;
        width: 100%;
        &:last-child {
          margin-bottom: 14px !important;
          text-align: right;
        }
      }
    }
  }
}
